<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>

    <title>Admin</title>
</head>

<% include ../layouts/header %>

<body>
    <div class="container">
        <div>
            <h3>Image</h3>
            <a href="/image/create">Create image</a>
            <a href="/admin/view/images">View images</a>
        </div>
        
        <div>
            <h3>User</h3>
            <a href="/signup">Create user</a>
            <a href="/admin/view/users">View users</a>
        </div>

    </div>

</body>

</html>