<!DOCTYPE html>
<html lang="en">
<head>
    <% include layouts/link %>
    
    <title>Cookie</title>
</head>

<% include layouts/header %>

<body>
    <div class="content container mt-4">
        <h3 class="text-center">Content</h3>
        <!-- Item -->
        <div class="row justify-content-center">
        <% items.forEach(function(item){ %>
            <div class="card col-md-3 m-2 item">
                <img class="car-img-top" src="https://via.placeholder.com/100" alt="">
                <div class="card-body">
                    <h4 class="card-title"><%= item.name%></h4>
                    <p class="card-text"><%= item.description%></p>
                    <p class="card-text"><%= item.price%></p>
                    <button type="button" class="btn btn-primary btn-md">More...</button>
                </div>
            </div>
        <% }) %>
        </div>
        <!-- End Item -->
    </div>
</body>

<% include layouts/footer %>

</html>