<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" type="image/png" href="img//cookie.png"/>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <title>Cookie</title>
</head>

<header class="container">
    <div class="text-center">
        <h1>Cookie</h1>
        <a href="/"><img class="logo" src="img/cookie.png" alt="Trang chủ"></a> 
    </div>
    
    <div class="row mt-2 bg-light">
        <div class="col-md-8">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="content container mt-4">
        <h3 class="text-center">Content</h3>

        <div class="row justify-content-center">
            <div class="card col-md-3 m-2 item">
                <img class="car-img-top" src="https://via.placeholder.com/100" alt="">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-md">More...</button>
                </div>
            </div>

            <div class="card col-md-3 m-2 item">
                <img class="car-img-top" src="https://via.placeholder.com/100" alt="">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-md">More...</button>
                </div>
            </div>

            <div class="card col-md-3 m-2 item">
                <img class="car-img-top" src="https://via.placeholder.com/100" alt="">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-md">More...</button>
                </div>
            </div>

            <div class="card col-md-3 m-2 item">
                <img class="car-img-top" src="https://via.placeholder.com/100" alt="">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-md">More...</button>
                </div>
            </div>
        </div>
        <!-- End div item -->
    </div>
</body>

<footer class="page-footer bg-info mt-4">
</footer>

</html>