* {
    margin: 0px;
    padding: 0px;
}

#cookie {
    width: 50px; 
    height: 50px;
}

/* Form create item, login, signup */
#form-create-item {
    width: 500px;
    height: auto;
    margin-top: 50px;
    padding: 30px;
    border: 1px solid #f8f9fa;
    border-radius: 20px;
    background-color: #fcfbfd
}

/* Icon */
#icon-trash {
    width: 20px;
    height: 20px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.user-username {
    color: #ffa0a0;
    padding: 0px;
    margin: 0px;
}

.user-date-upload {
    font-size: 0.6em;
    color: #d0cbcc
}