

<form action="" method="post">
    <span>Name</span> 
    <input type="text" name="name">
    <br>
    <span>Description</span> 
    <textarea name="description" id="" cols="50" rows="3"></textarea>
    <br>
    <span>Price</span>
    <input type="text" name="price">
    <br>
    <span>Image</span>
    <input type="text" name="image">

    <br>
    <button>Submit</button>
</form>