<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>

    <title>Admin</title>
</head>

<% include ../layouts/header %>

<body>
    <div class="container">
        <h1>CRUD</h1>
        <a href="/admin/create/image">Create</a>
        <a href="/admin/view/images">Read</a>
        <a href="">Update</a>
        <a href="">Delete</a>
    </div>

</body>

</html>