<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>
    <style>
        .form-group p {
            padding-left: 15px;
        }
    </style>

    <title>Đăng ký</title>
</head>

<% include ../layouts/header %>

<body>

    <div class="container" id="form-create-item">
        <form method="post">
            <div class="text-center p-3">
                <h4>Đăng ký</h4>
            </div>

            <% if (errMessages.length > 0) { %>
            <div class="message">
                <% for (err of errMessages) { %>
                <p class="alert alert-danger"><%= err %></p>
                <% } %>
            </div>
            <% } %>

            <div class="form-group">
                <p>Tên đăng nhập</p>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" value="<%= values.username %>">
                </div>
            </div>
            <div class="form-group">
                <p>Mật khẩu</p>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" value="<%= values.password %>">
                </div>
            </div>
            <div class="form-group">
                <p>Nhập lại mật khẩu</p>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="re_password">
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg">Tạo tài khoản</button>
            </div>
        </form>
    </div>

</body>

</html>