<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>

    <title>User</title>
</head>

<% include ../layouts/header %>

<body>

    <div class="container">

    </div>

</body>

</html>